<html>
<head>
</head>
  <body>
    <h1>Hi {{name}}!</h1>
    {% if booking_ok %}
    You have succesfully booked {{lodging}} in {{city}} from {{date_from}} to {{date_to}}
    {% else %}
    Sorry but {{lodging}} in {{city}} is already booked between {{date_from}} and {{date_to}}
    {% endif %}
  </body>
</html>
