<html>
<head>
</head>
  <body>
    {% if lodgings_list %}
    <p>Number of available lodgings: {{ lodgings_list|length }}</p>
    <p>To book please enter your name below and click which lodging you want to book</p>
    <form method="POST" action="/app/booking_status/">
      {% csrf_token %}
      <input type="text" name="name" required>
      <ul>
        {% for lodging in lodgings_list %}
        <li>{{ lodging.address }} <input type="submit" name="{{lodging.id}}" value="Book"/> </li>
        {% endfor %}
      </ul>
      <input type="hidden" name="date_from" value="{{date_from}}">
      <input type="hidden" name="date_to" value="{{date_to}}">
    </form>

    {% else %}
      No available lodgings in this time!
    {% endif %}


  </body>
</html>
