<html>
<head>
</head>
  <body>
    <p>Welcome to the reservation system</p>
    <p>Chose city and duration of your stay:</p>
    <form action="/app/index/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
